<!DOCTYPE html>
<html lang="en">

<head>
	{{> head }}
</head>

<body>

	{{> navbar }}

	<div class="row">
		<div class="col-8">
			<h1>Gunman</h1>
			<p>Un texto de prueba aqui</p>
			<p>{{request}}</p>
		</div>
		<div class="col-4">
			<img src="assets/img/gunman.jpg" class="img-thumbnail">
		</div>
	</div>

	{{> footer }} 
	
	{{> footer_scripts }}

</body>

</html>